* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 20px 0px;
    background-image: url(images/white-black-lined-wall.jpg);
    background-size: cover;
    background-position: bottom center;
    min-height: 100vh;
}

button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

form label {
    display: inline block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 12px 0px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.left {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.right {
    float: right;
    width: 85%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Style the submit button */
input[type=submit] {
    background-color: rgb(60, 55, 110);
    font-size: 16px;
    color: white;
    padding: 10px 18px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.container h1 {
    text-align: center;
    /* font-family: Pacifico, cursive; */
    margin: 60px;
    font-family: 'Bungee Shade', cursive; 
    font-size: 90px;
    color: rgb(193, 42, 5);
    /* text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #3e174d, 0 0 0.5em #59216e, 0 0 0.1em #59216e, 0 7px 3px #000;
    animation: flicker .1s linear 3s 3; */

li h3 {
    margin: 7px 0px;
}

/* The animation code */
@keyframes flicker {
    from {color: rgb(217, 209, 255);}
    to {color: black;}
}

@media screen and (max-width: 600px) {
    .left, .right {
        width: 100%;
        text-align: left;
        margin: 0 0;
    }

    .right {
        margin-bottom: 1px;
    }

    input[type=submit] {
        width: 50%;
        margin: 15px 0;
        text-align: center;
    }
}