* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0;
    background-image: url(images/white-black-lined-wall.jpg);
    background-size: cover;
    background-position: bottom center;
    min-height: 100vh;
}

button, input[type="text"] {
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

form label {
    display: inline block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 12px 0px;
}

.container {
    margin: 0 auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#js-form {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
}

.box {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 45%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.left {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.right {
    float: right;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Style the submit button */
input[type=submit] {
    background-color: rgb(60, 55, 110);
    font-size: 16px;
    color: white;
    padding: 10px 18px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Removes yellow from FF if user uses autocomplete */ 
input {
    filter: none;
}

/* Removes yellow from Safari and Chrome if user uses autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.container h1 {
    text-align: center;
    margin: 80px;
    font-family: 'Bungee Shade', cursive; 
    font-size: 90px;
    color: rgb(193, 42, 5);
}

li h3 {
    margin: 7px 0px;
}

#results {
    color: rgb(60, 55, 110);
}

#results img {
    width: 30px;
}

#results p {
    font-size: 16px;
    color: #3F8B94;
}

#results h2 {
    padding: 0;
    margin: 0;
}

#results h3 {
    font-size: 18px;
}

footer {
    text-align: center;
    font-size: 16px;
    margin: 80px 0 0 0;
}

@media screen and (max-width: 600px) {
    .container h1 {
        margin: 40px;
        font-size: 60px;
    }

    .left, .right {
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 1px;
    }

    input[type=submit] {
        width: 50%;
        margin: 15px 0;
        text-align: center;
    }

    .box {
        display: block;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    label {
        padding: 6px;
    }

    .box1, .box2 {
        width: 80%;
    }

    li h3 {
        margin: 3px 0px;
    }

    
}